@model VMRegister
    @{ 
        var roles = new SelectListItem[] {
            new SelectListItem { Text="Заказчик", Value="customer"},
            new SelectListItem { Text="Перевозчик", Value="carrier"}
        };
    }

@section styles{
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin-bottom: 0;
        }
    </style>
}

<div class="auth-page">
    
    <h2>Регистрация нового аккаунта</h2>
    <br />

    <form method="post" action="@Url.Action("Register", "Account")" class="auth-page__form">

        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.EditorFor(x => x.NikName, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.NikName) } })
            @Html.ValidationMessageFor(x => x.NikName)
        </div>

        <div class="form-group">
            @Html.DropDownListFor(x=>x.RoleName, roles, "Выберите роль", new { @class="form-control" })
            @Html.ValidationMessageFor(x => x.RoleName)
        </div>

        <div class="form-group">
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Email) } })
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group">
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Password) } })
            @Html.ValidationMessageFor(x => x.Password)
        </div>

        <div class="form-group">
            @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) } })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>

        <div class="form-group">
            <button class="btn btn-primary auth-page__full-btn" type="submit">Создать аккаунт</button>
        </div>

        <div class="form-group">
            <div class="text-center">
                У Вас уже есть аккаунт?
            </div>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary auth-page__full-btn">Войти, используя учетные данные</a>
        </div>

        <div class="form-group">
            <div class="alert alert-info">
                <div class="text-center">
                    <a href="#">Условия использования ресурса</a>
                </div>
            </div>
        </div>

    </form>
</div>

@section scripts{
    <script src="~/content/dist/js/jquery.validate.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.unobtrusive.min.js"></script>
}
