@{
    var routeDataValues = Request.RequestContext.RouteData.Values;
    var controller = routeDataValues["controller"].ToString().ToLower();
    var action = routeDataValues["action"].ToString().ToLower();
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">@MvcApplication.AppName</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@(controller=="home"?"active":null)"><a href="@Url.Action("Index", "Home")">Главная</a></li>
                @if (User.IsInRole("customer"))
                {
                    <li class="@(controller=="orders" && action=="edit"?"active":null)"><a href="@Url.Action("Edit", "Orders")">Оставить заявку</a></li>
                    <li><a href="#">Файлы</a></li>
                    <li><a href="#">Счет</a></li>
                }
                else if (User.IsInRole("admin"))
                {
                    <li class="@(controller=="orders" && action=="edit"?"active":null)"><a href="@Url.Action("Edit", "Orders")">Оставить заявку</a></li>
                    <li class="@(controller=="clients"?"active":null)"><a href="@Url.Action("List", "Clients")">Клиенты</a></li>
                    <li><a href="#">Файлы</a></li>
                }
                else if (User.IsInRole("carrier"))
                {
                    <li><a href="#">Маршрут</a></li>
                    <li><a href="#">Файлы</a></li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">

                    <li><p class="navbar-text">@User.Identity.Name</p></li>
                    <li>
                        <form method="post" action="@Url.Action("LogOff", "Account")">
                            @Html.AntiForgeryToken()
                        </form>
                        <a href="#" onclick="$(this).prev('form').submit();">Выход</a>
                    </li>
                </ul>
            }
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
